@model IEnumerable<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mt-4">Experince</h1>


    <a href="/admin/experince/Add" class="btn btn-primary">Add</a>

    <!-- DataTaBles Example -->
    <div class="card shadow mb-4 mt-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>CompanyName</th>
                            <th>Description</th>
                            <th>EntryDate</th>
                            <th>EndDate</th>
                            <th>Continue</th>
                            <th>Position</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CompanyName</td>
                                <td>@item.Description</td>
                                <td>@item.EntryDate</td>
                                <td>@item.EndDate</td>
                                <td>@item.IsContinue</td>
                                <td>@item.Position.Name</td>
                                <td>@Html.ActionLink("Edit", "Edit", "Experince", new { id = item.ID }, new { @class = "btn btn-primary" })</td>
                                <td>@Html.ActionLink("Delete", "Delete", "Experince", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

